@theme {
  --font-button: Poppins, sans-serif;
  --font-select: Poppins, sans-serif;

  --color-button-1: #0073ff;
  --color-button-2: #004388;

  --color-p01: #410101;
  --color-p02: #630000;
  --color-p03: #830000;
  --color-p04: #9e0000;
  --color-p05: #b20000;

  --color-c12: #000000;
  --color-c11: #121212;
  --color-c10: #2e2e2e;
  --color-c09: #404040;
  --color-c08: #595959;
  --color-c07: #707070;
  --color-c06: #9c9c9c;
  --color-c05: #b3b3b3;
  --color-c04: #cccccc;
  --color-c03: #dedede;
  --color-c02: #ededed;
  --color-c01: #f7f7f7;

  --background-image-white-red: linear-gradient(
    to bottom,
    var(--color-c02) 50%,
    #cc0000 50%
  );
}
